<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cm39.cm39.order.mapper.PaymentMapper">
    <insert id="insertPayment" parameterType="PaymentDto">
        insert into Payment (pay_no, ord_no, pay_key, pay_code, pay_stat_code, pay_price, dpsr, dpsr_acc_no, dpsr_bank)
        values (#{payNo}, #{ordNo}, #{payKey}, #{payCode}, #{payStatCode}, #{payPrice}, #{dpsr}, #{dpsrAccNo}, #{dpsrBank})
    </insert>

<!--    테스트 용-->
<!--    전체 삭제-->
    <delete id="deleteAll">
        delete
        from Payment
    </delete>

<!--    전체 개수-->
    <select id="countAll" resultType="int">
        select count(*)
        from Payment
    </select>

<!--    전체 목록 조회-->
    <select id="selectAll" resultType="PaymentDto">
        select *
        from Payment
    </select>
</mapper>
